:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
    .slide-container {
        height: 250px;
        background: #fff;
        padding-bottom: 5px;
        // border-bottom: 1px dashed #ffce00;
    }
    ion-slides {
        height: 100%;
    }
    .swiper-slide {
        display: block;
    }
    .swiper-slide h2 {
        margin-top: 2.8rem;
    }
    .swiper-slide img {
        width: 100%;
        pointer-events: none;
    }
    b {
        font-weight: 500;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        color: var(--ion-color-step-600, #60646b);
    }
    p b {
        color: var(--ion-text-color, #000000);
    }
    span.info {
        font-weight: 600;
    }
    .info-label {
        font-weight: 100;
    }
    .text-overflow {
        text-overflow: inherit;
    }
    .vehicle-title {
        padding: 5px;
        margin: 13px 13px;
        font-size: 20px;
        color: #636262;
        margin-bottom: 10px;
    }
    .info-card {
        border: 1px solid var(--ion-color-primary);
        text-align: center;
        padding: 5px;
        color: #4c4a4a;
        background: #f5f4f5;
        font-weight: 600;
        border-radius: 8px;
        min-height: 70px;
        line-height: 1.8;
    }
    .image-holder {
        width: 100%;
        background: #807b84;
        height: 250px;
    }
    .image-inner {
        max-width: fit-content;
        height: 250px;
        overflow: hidden;
        margin: 0 auto;
    }
}