<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="previous()">
                <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'HOME_ITEMS.VEHICLE_OVERVIEW' | translate}}</ion-title>
    </ion-toolbar>
</ion-header> -->
<div class="slide-container">

    <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slide *ngFor="let vehicle of vehicles">
            <div class="image-holder">
                <div class="image-inner">
                    <img [src]="vehicle.img">
                </div>
            </div>

        </ion-slide>
    </ion-slides>
</div>
<div class="vehicle-title">
    <div no-margin>
        <ion-text><strong>Toyota Innova</strong></ion-text>
    </div>
</div>

<ion-card class="bg-white vehicle-info" no-margin>
    <ion-card-content class="ion-no-padding">
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let info of vehicleInfo">
                    <div lines="none" class="info-card">
                        <ion-label class="ion-text-wrap text-overflow">
                            <span class="info-label">{{info.label}}</span> <br>
                            <span class="info">{{info.value}}</span>
                        </ion-label>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card-content>
</ion-card>