<ion-content padding class="login auth-page">
    <div id="info-img"></div>
    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center class="center-content">
            <div class="logo"></div>
            <h3 no-margin padding>
                <ion-text color="light" class="fw700">
                    <ion-text color="medium">{{'LOGIN_ITEMS.CREATE_PASSWORD_TITLE' | translate}}</ion-text>
                </ion-text>
            </h3>
            <p class="sub-text" no-margin>
                {{'LOGIN_ITEMS.CREATE_PASSWORD_SUBTITLE' | translate}}
            </p>
        </div>

        <ion-card color="light" class="ion-padding ion-no-margin">
            <ion-card-content class="ion-no-padding">
                <!-- Create Password form -->
                <form [formGroup]="onCreatePasswordForm" class="list-form">
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="lock" item-start></ion-icon>
                            {{'LOGIN_ITEMS.CREATE_PASSWORD_LABEL' | translate}}
                        </ion-label>
                        <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="createpassword"></ion-input>
                    </ion-item>
                    <ion-chip color="warning-msg" *ngIf="onCreatePasswordForm.get('createpassword').touched && onCreatePasswordForm.get('createpassword').hasError('required')">
                      <ion-icon color="danger" name="warning"></ion-icon>     
                      <ion-label color="danger">
                            {{'LOGIN_ITEMS.CREATE_PASSWORD_ERR_MSG' | translate}}
                        </ion-label>
                    </ion-chip> 

                    <div>
                      <p>
                        <label class="col" [ngClass]="onCreatePasswordForm.controls['createpassword'].hasError('required') || onCreatePasswordForm.controls['createpassword'].hasError('pattern')  ? 'text-danger' : 'text-success'">
                            <i class="fa fa-check" aria-hidden="true">{{ onCreatePasswordForm.controls['createpassword'].hasError('required') ||
                                    onCreatePasswordForm.controls['createpassword'].hasError('pattern') ? ' Your password has to be at least 6 characters one digit' :
                                  'password valid' }}</i>                                 
                              </label>
                            </p>

                        <!-- <p>
                        <label class="col" [ngClass]="onCreatePasswordForm.controls['createpassword'].hasError('required') || onCreatePasswordForm.controls['createpassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                            <i class="fa fa-check" aria-hidden="true">{{ onCreatePasswordForm.controls['createpassword'].hasError('required') ||
                                    onCreatePasswordForm.controls['createpassword'].hasError('minlength') ? 'false' :
                                  'true' }}</i>
                                Must be at least 8 characters!
                              </label>
                            </p>
                            <P>
                          <label class="col" [ngClass]="onCreatePasswordForm.controls['createpassword'].hasError('required') || onCreatePasswordForm.controls['createpassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ onCreatePasswordForm.controls['createpassword'].hasError('required') ||
                                onCreatePasswordForm.controls['createpassword'].hasError('hasNumber') ? 'false' :
                              'true' }}</i>
                            Must contain at least 1 number!
                          </label> 
                        </P>
                        <p>
                          <label class="col" [ngClass]="onCreatePasswordForm.controls['createpassword'].hasError('required') || onCreatePasswordForm.controls['createpassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ onCreatePasswordForm.controls['createpassword'].hasError('required') ||
                                onCreatePasswordForm.controls['createpassword'].hasError('hasCapitalCase') ? 'false' :
                              'true' }}</i>
                            Must contain at least 1 in Capital Case!
                          </label> 
                        </p>
                           <p>
                         <label class="col" [ngClass]="onCreatePasswordForm.controls['createpassword'].hasError('required') || onCreatePasswordForm.controls['createpassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ onCreatePasswordForm.controls['createpassword'].hasError('required') ||
                                onCreatePasswordForm.controls['createpassword'].hasError('hasSmallCase') ? 'false' :
                              'true' }}</i>
                            Must contain at least 1 Letter in Small Case!
                          </label> 
                          </p>
                          <p>
                          <label class="col" [ngClass]="onCreatePasswordForm.controls['createpassword'].hasError('required') || onCreatePasswordForm.controls['createpassword'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{ onCreatePasswordForm.controls['createpassword'].hasError('required') ||
                                onCreatePasswordForm.controls['createpassword'].hasError('hasSpecialCharacters') ? 'false' :
                              'true' }}</i>
                            Must contain at least 1 Special Character!
                          </label> 
                        </p> -->
                    </div>
                  
                   <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="lock" item-start></ion-icon>
                            {{'LOGIN_ITEMS.CONFIRM_PASSWORD_LABEL' | translate}}
                        </ion-label>
                        <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="confirmpassword"></ion-input>
                        <div class="show-password">
                            <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()">
                            </ion-icon>
                        </div>
                    </ion-item>
                    <ion-chip class="warning-msg" *ngIf="onCreatePasswordForm.get('confirmpassword').touched && onCreatePasswordForm.get('confirmpassword').hasError('required')">
                       <ion-icon color="danger" name="warning"></ion-icon>
                        <ion-label color="danger">
                            {{'LOGIN_ITEMS.CONFIRM_PASSWORD_ERR_MSG' | translate}}
                        </ion-label>
                    </ion-chip>                      
                    <ion-chip color="warning-msg"   *ngIf="incorrectpassword">
                      <ion-icon color="danger" name="warning"></ion-icon>     
                      <ion-label color="danger">
                        Password Mismatch
                        </ion-label>
                    </ion-chip> 
                </form>

                <div margin-top>
                    <ion-button icon-left size="medium" expand="full" shape="round" color="warning" (click)="goToHome()" [disabled]="!onCreatePasswordForm.valid" tappable>
                        <ion-icon name="log-in"></ion-icon>
                        Submit
                    </ion-button>

                </div>
            </ion-card-content>
        </ion-card>
        <p class="alert ion-text-center" no-margin>
            <ion-icon name="alert"></ion-icon>
            {{'LOGIN_ITEMS.CREATE_PASSWORD_BOTTOM_INFO' | translate}}
        </p>
    </div>
    
</ion-content>