:host {
    background: url('/assets/svg/bg-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 54%;
    ion-content {
        --background: transparent;
        // transform: translate3d(0, 200px, 0);
    }
    p.sub-text {
        color: #b1b1a9;
        font-size: 80%;
        margin-bottom: 5px;
    }
    p.alert {
        color: #444;
        font-size: 90%;
        padding: 5px;
    }
    .show-password {
        position: absolute;
        right: 0;
        bottom: 10px;
        ion-icon {
            color: gray;
        }
    }
    .warning-msg {
        border-radius: 2px;
        margin: 2px 0;
        width: 100%;
        ion-icon {
            font-size: 24px;
            margin: 0 0 5px;
        }
    }
}