:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
        p.info-text {
            color: gray;
        }
    }
    ion-card-content {
        .tripRadioGroup {
            width: auto!important;
            border: 1px solid #ddd;
            text-align: center;
            ion-radio-group {
                ion-radio {
                    margin: 0 0 -1px;
                }
                ion-label {
                    vertical-align: middle;
                    padding: 5px;
                    display: table-cell;
                    text-align: center;
                    font-size: 16px;
                }
                span {
                    line-height: 1;
                    margin-right: 5px;
                }
            }
        }
    }
    .date-filter {
        ion-input.date-picker {
            background: #fff;
            color: #444;
            width: 98%;
            margin: 0 10px;
        }
        .calendar-icon {
            ion-icon {
                font-size: 30px;
            }
        }
    }
    .request-form {
        ion-item {
            --border-color: var(--ion-color-secondary);
        }
    }
    .myCustomSelect {
        min-width: 100vw;
        max-width: 100% !important;
        padding-left: 0px;
        font-size: 80%;
        font-weight: bold;
        color: #fdf71f;
    }
    .grid-btns {
        ion-col {
            ion-item {
                max-width: 100%;
                background: #039e3e;
                border-bottom: 2px solid #f7f5ed;
                --color: var(--ion-color-light);
                // border-bottom-left-radius: 30px;
                ion-label {
                    font-size: 80%;
                    min-width: 125px;
                    .selectedText {
                        color: #fff81f;
                    }
                }
                ion-icon {
                    padding: 0px!important;
                    font-size: 22px;
                    color: #ffce00;
                    position: absolute;
                    right: 2%;
                }
            }
        }
    }
    ion-toolbar.tripSelect {
        max-height: 50px!important;
        margin-bottom: 0px;
        ion-segment {
            max-height: 50px!important;
            ion-segment-button {
                max-height: 50px!important;
                ion-icon {
                    margin: 0px!important;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
    ion-item-sliding {
        margin-bottom: 2px;
        border-bottom: 1px solid #ddd;
        background: #ece9ef;
    }
    ion-grid {
        background: #039e3e;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-bottom: 26px;
    }
    ion-card.voicenote-card {
        border: 1px solid #e3e4e6;
        ion-icon.megaphone {
            font-size: 26px;
        }
        p {
            font-size: 16px;
        }
    }
    .item-select {
        width: 100%;
        margin-top: 2px;
    }
    .input-label {
        font-size: 80%;
    }
    ion-segment {
        height: 46px;
    }
    ion-segment-button {
        font-size: 16px;
        color: #b79506;
        border: 0px;
        border-radius: 0px;
    }
    .segment-button-checked {
        background: #ffce00;
        color: #026527;
        font-weight: 600;
        border-bottom: 3px solid #05ca50;
    }
}