<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="previous()">
                <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'TAB_MENU_ITEMS.ASK_VEHICLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <!-- <ion-row>
        <ion-item>
            <p class="info-text">
                <ion-icon name="alert"></ion-icon> Please fill the requested details</p>
        </ion-item>
    </ion-row> -->
    <div>
        <ion-toolbar class="tripSelect" color="warning">
            <ion-segment [(ngModel)]="tripSelector" mode="md" value="oneWay" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="oneWay" checked>
                    <ion-icon name="return-right"></ion-icon>
                    <span>One Way</span>
                </ion-segment-button>
                <ion-segment-button value="roundTrip">
                    <ion-icon name="repeat"></ion-icon>
                    <span>Round Trip</span>
                </ion-segment-button>
                <!-- <ion-segment-button value="multiCity">
                    <ion-icon name="shuffle"></ion-icon>
                    <span>Multi City</span>
                </ion-segment-button> -->
            </ion-segment>

        </ion-toolbar>
        <!--Grid 1-->
        <ion-grid *ngIf="tripSelector === 'oneWay'" class="animated fadeInLeft">
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-navigate" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">From:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong class="selectedText" *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-pin" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">To:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong class="selectedText" *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="ios-calendar" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Start Date:<br>
                            <strong class="selectedText">{{startDate}}</strong>
                            <p *ngIf="!startDate">Select date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="calendar" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">End Date:<br>
                            <strong class="selectedText">{{endDate}}</strong>
                            <p *ngIf="!endDate">No date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item>
                        <ion-icon name="ios-car" slot="end"></ion-icon>
                        <!-- <ion-label class="ion-text-wrap">Vehicle Type:<br>
                            <strong class="selectedText">Prime</strong>
                        </ion-label> -->

                        <label class="item item-input item-select">
                                <ion-label>Vehicle Type</ion-label>
                            <ion-select class="myCustomSelect" placeholder="Select Vehicle Type">
                                <ion-select-option class="selectedText" *ngFor="let type of carType">{{type}}</ion-select-option>
                            </ion-select>
                        </label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openVehiclesModal()">
                        <ion-icon name="car" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Model:<br>
                            <p *ngIf="!selectedVehicle">Select Vehicle Model</p>
                            <strong class="selectedText" *ngIf="selectedVehicle">{{selectedVehicle}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!--Grid 2-->
        <ion-grid *ngIf="tripSelector === 'roundTrip'" class="animated fadeInRight">
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-navigate" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap" no-padding>From:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong class="selectedText" *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-pin" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">To:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong class="selectedText" *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="ios-calendar" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Start Date:<br>
                            <strong class="selectedText">{{startDate}}</strong>
                            <p *ngIf="!startDate">Select date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="calendar" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">End Date:<br>
                            <strong class="selectedText">{{endDate}}</strong>
                            <p *ngIf="!endDate">Select date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item>
                        <ion-icon name="ios-car" slot="end"></ion-icon>
                        <!-- <ion-label class="ion-text-wrap">Vehicle Type:<br>
                            <strong class="selectedText">Prime</strong>
                        </ion-label> -->

                        <label class="item item-input item-select">
                                <ion-label>Vehicle Type</ion-label>
                            <ion-select class="myCustomSelect" placeholder="Select Vehicle Type">
                                <ion-select-option class="selectedText" *ngFor="let type of carType">{{type}}</ion-select-option>
                            </ion-select>
                        </label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openVehiclesModal()">
                        <ion-icon name="car" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Model:<br>
                            <p *ngIf="!selectedVehicle">Select Vehicle Model</p>
                            <strong class="selectedText" *ngIf="selectedVehicle">{{selectedVehicle}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list>
            <ion-item>
                <ion-label>Comments :</ion-label>
                <ion-textarea rows="3" cols="20" placeholder="Enter any comments here..."></ion-textarea>
            </ion-item>
        </ion-list>
        <!-- <h5 class="ion-text-center">(OR)</h5>
        <ion-card color="light" class="voicenote-card">
            <ion-card-content class="ion-text-center">
                <ion-icon class="megaphone" name="megaphone"></ion-icon>
                <p color="dark">
                    You can leave a 'Voice Note' here!</p>
                <ion-card-title>
                    <ion-button size="small" color="danger" (click)="stopRecord()" *ngIf="recording">
                        <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</ion-button>
                    <ion-button size="small" color="success" (click)="startRecord()" *ngIf="!recording">
                        <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</ion-button>
                </ion-card-title>

                <h2>{{status}}</h2>

            </ion-card-content>
        </ion-card>

        <ion-list>
            <ion-item-sliding *ngFor="let audio of audioList; index as i;">
                <ion-item lines="none" class="audio-items">
                    <p>{{audio.filename}}</p>
                    <ion-button slot="end" large (click)="playAudio(audio.filename, i)">
                        <ion-icon name="play"></ion-icon>
                    </ion-button>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option (click)="audioList.splice(i, 1)" color="danger">
                        <ion-icon name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list> -->

    </div>

</ion-content>
<div class="ion-text-center animated fadeInUp" margin-bottom padding-top>
    <ion-button slot="start" (click)="goToHome()" icon-left size="medium" shape="round" color="medium" tappable>
        Cancel
    </ion-button>

    <ion-button slot="end" (click)="goToHome()" icon-left size="medium" shape="round" color="warning" tappable>
        Submit
    </ion-button>
</div>