<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Request Vehicle</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-row>
        <ion-item>
            <p>
                <ion-icon name="alert"></ion-icon> Please fill the requested details</p>
        </ion-item>
    </ion-row>
    <div>
        <ion-toolbar class="tripSelect" color="warning">
            <ion-segment [(ngModel)]="tripSelector" value="oneWay" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="oneWay" checked>
                    <ion-icon name="return-right"></ion-icon>
                    <span>One Way</span>
                </ion-segment-button>
                <ion-segment-button value="roundTrip">
                    <ion-icon name="repeat"></ion-icon>
                    <span>Round Trip</span>
                </ion-segment-button>
                <ion-segment-button value="multiCity">
                    <ion-icon name="shuffle"></ion-icon>
                    <span>Multi City</span>
                </ion-segment-button>
            </ion-segment>

        </ion-toolbar>
        <!--Grid 1-->
        <ion-grid *ngIf="tripSelector === 'oneWay'">
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">From:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong class="selectedText" *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">To:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong class="selectedText" *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Start Date:<br>
                            <strong class="selectedText">{{startDate}}</strong>
                            <p *ngIf="!startDate">Select date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">End Date:<br>
                            <strong class="selectedText">{{endDate}}</strong>
                            <p *ngIf="!endDate">No date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item>
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Vehicle Type:<br>
                            <strong class="selectedText">Prime</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Model:<br>
                            <strong class="selectedText">Tata Indica</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!--Grid 2-->
        <ion-grid *ngIf="tripSelector === 'roundTrip'">
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap" no-padding>From:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openPlacesModal()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">To:<br>
                            <p *ngIf="!selectedCity">Select a place</p>
                            <strong *ngIf="selectedCity">{{selectedCity}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Start Date:<br>
                            <strong>{{startDate}}</strong>
                            <p *ngIf="!startDate">Select date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item (click)="openCalendar()">
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">End Date:<br>
                            <strong>{{endDate}}</strong>
                            <p *ngIf="!endDate">Select date</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="grid-btns">
                <ion-col size="6">
                    <ion-item>
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Vehicle Type:<br>
                            <strong>Prime</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-icon name="ios-arrow-down" slot="end"></ion-icon>
                        <ion-label class="ion-text-wrap">Model:<br>
                            <strong>Tata Indica</strong>
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-card color="medium">
            <ion-card-content class="ion-text-center">
                <p color="dark">You can leave a 'Voice Note' here!</p>
                <ion-card-title>
                    <ion-button size="small" color="danger" (click)="StopRecording()" *ngIf="recording">
                        <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</ion-button>
                    <ion-button size="small" color="light" (click)="RecordAudio()" *ngIf="!recording">
                        <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</ion-button>
                </ion-card-title>

                <h2>{{status}}</h2>
            </ion-card-content>
        </ion-card>

        <div margin-top class="ion-text-center">
            <ion-button (click)="goToHome()" icon-left size="medium" shape="round" color="warning" tappable>
                Submit
            </ion-button>
        </div>
    </div>

</ion-content>