:host {
    background: url('/assets/svg/bg-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 54%;
    ion-content {
        --background: transparent;
        // transform: translate3d(0, 200px, 0);
    }
    p.sub-text {
        color: #b1b1a9;
        font-size: 80%;
        margin-bottom: 5px;
    }
    p.alert {
        color: #444;
        font-size: 80%;
        padding: 5px;
    }
    .show-password {
        position: absolute;
        right: 0;
        bottom: 10px;
        ion-icon {
            color: gray;
        }
    }
    .myCustomSelect {
        max-width: 100% !important;
    }
    .termsConditions {
        position: relative;
        font-size: 14px;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    ion-checkbox.checkBox {
        position: absolute;
        left: 0;
    }
    ion-checkbox ion-label {
        pointer-events: none;
    }
    .warning-msg {
        border-radius: 2px;
        margin: 2px 0;
        width: 100%;
        ion-icon {
            font-size: 16px;
            margin: 0 0 5px;
        }
    }
    .required {
        color: rgb(219, 34, 34);
    }
}