:host {
    // ion-content {
    //     --background: var(--ion-color-primary);
    // }
    .paz {
        position: relative;
        z-index: 10;
    }
    p.sub-text {
        color: #b1b1a9;
        font-size: 100%;
        padding: 5px;
    }
    #info-img {
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        left: 0;
        margin: 0 auto;
        background: url('/assets/svg/bg-1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 54%;
    }
    .signup-msg {
        color: #662d91;
    }
}