<ion-content padding class="animated fadeIn login auth-page bg-image">
    <div id="info-img"></div>
    <!-- <div class="theme-bg"></div> -->
    <div class="auth-content">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown center-content">
            <h4 no-margin>
                <ion-text color="light" class="fw700">
                    {{'LOGIN_ITEMS.WELCOME_TITLE' | translate}}
                </ion-text>
            </h4>
            <div class="logo"></div>
            <p class="sub-text">
                {{'LOGIN_ITEMS.WELCOME_SUB_MESSAGE' | translate}}
            </p>
        </div>

        <ion-card color="light" class="ion-padding ion-no-margin">
            <ion-card-content class="ion-no-padding">
                <!-- Login form -->
                <form [formGroup]="onSignUpForm" class="list-form">
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="phone-portrait" item-start></ion-icon>
                            {{'PLACEHOLDER_MSG.MOBILE_NUMBER' | translate}}
                        </ion-label>
                        <ion-input type="number" formControlName="mobileNumber"></ion-input>
                    </ion-item>
                    <p ion-text class="text08" *ngIf="onSignUpForm.get('mobileNumber').touched && onSignUpForm.get('mobileNumber').hasError('pattern')">
                        <ion-text color="danger">
                            Enter valid mobile number
                        </ion-text>
                    </p>
                </form>
                <div class="ion-padding-top">
                    <ion-button icon-left size="medium" expand="full" shape="round" color="warning" (click)="goToOtp()" [disabled]="!onSignUpForm.valid" tappable>
                        <ion-icon name="log-in"></ion-icon>
                        Get OTP
                    </ion-button>
                </div>

                <!-- Other links -->
                <div text-center margin-top>
                    <span (click)="goToLogin()" class="paz" tappable>
                    <ion-text>
                {{'LOGIN_ITEMS.ALREADY_USER' | translate}} 
                <ion-text color="primary"><strong>{{'LOGIN_ITEMS.SIGN_IN' | translate}}</strong></ion-text>
                    </ion-text>
                    </span>
                </div>
            </ion-card-content>
        </ion-card>
        <div class="language_btn">
            <ion-label>{{'COMMON.SELECT_LANGUAGE' | translate}}</ion-label>
            <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="ta">தமிழ்</ion-select-option>
            </ion-select>
        </div>
        <!-- <h4 class="ion-text-center signup-msg">getRide gets you polite drivers with clean cars!</h4> -->

    </div>

</ion-content>