<ion-footer>
    <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button routerLink="/view-request">
            <ion-icon name="eye"></ion-icon>
            <ion-label>View Request</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/request-vehicle">
            <ion-icon name="car"></ion-icon>
            <ion-label>Ask Vehicle</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/add-vehicle">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-footer>