<ion-tabs>
    <ion-tab-bar color="primary" slot="bottom">
        <ion-tab-button tab="home-results">
            <ion-icon name="home"></ion-icon>
            <ion-label>{{'TAB_MENU_ITEMS.HOME' | translate}}</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="view-request">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge color="danger">2</ion-badge>
            <ion-label>{{'TAB_MENU_ITEMS.VIEW_REQUEST' | translate}}</ion-label>
        </ion-tab-button> -->
        <ion-tab-button tab="schedule-vehicle">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>{{'TAB_MENU_ITEMS.SCHEDULE_VEHICLE' | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="request-vehicle">
            <ion-icon name="car"></ion-icon>
            <ion-label>{{'TAB_MENU_ITEMS.ASK_VEHICLE' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>