:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
        ion-avatar {
            ion-icon {
                font-size: 21px;
                padding-left: 8px;
            }
        }
    }
    audio {
        height: 30px;
        width: 90%;
        background: #ffd31a;
    }
    .time-text {
        color: gray;
        float: right;
        font-size: 12px;
        font-style: italic;
    }
    ion-icon.view-icon {
        color: #ff8100;
    }
}