<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="previous()">
                <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'TAB_MENU_ITEMS.VIEW_REQUEST' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="animated fadeInDown">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    
    <ion-list>
        <ion-list-header color="medium">
            Recent Request
        </ion-list-header>

        <ion-item *ngFor="let req of newData" class="ion-no-padding">
            <ion-avatar slot="start" class="ion-no-margin">
                <ion-icon name="{{req.icon}}" color="primary"></ion-icon>
                <!-- <img [src]="req.img"> -->
            </ion-avatar>

            <ion-label>
                <h4><strong>{{req.agencyName}}</strong>, {{req.source}}
                    <!-- <span class="time-text">{{req.startDate}}/span>--></h4> 
                <h3>{{req.brandName}} {{req.vehicleName}}</h3> 
                <audio *ngIf="req.voicenote" controls [src]="req.voicenote" controlsList="nodownload"></audio>
                <p *ngIf="!req.voicenote">{{req.comments}}</p>
            </ion-label>

            <ion-icon no-margin name="eye" class="view-icon" slot="end" (click)="goToDetailReuest(req.vehicleRequestId)"></ion-icon>

        </ion-item>
    </ion-list>


    <ion-list>
        <ion-list-header color="medium">
            Older Request
        </ion-list-header>

        <ion-item *ngFor="let req of oldrequests" class="ion-no-padding">
            <ion-avatar slot="start" class="ion-no-margin">
                <ion-icon name="{{req.icon}}" color="primary" class="ion-no-margin"></ion-icon>
                <!-- <img [src]="req.img"> -->
            </ion-avatar>
            <ion-label>
                <h4><strong>{{req.agencyName}}</strong>, {{req.source}}
                    <!-- <span class="time-text">{{req.startDate}}/span>--></h4> 
                <h3>{{req.brandName}} {{req.vehicleName}}</h3> 
                <audio *ngIf="req.voicenote" controls [src]="req.voicenote" controlsList="nodownload"></audio>
                <p *ngIf="!req.voicenote">{{req.comments}}</p>
            </ion-label>


            <ion-icon no-margin name="eye" class="view-icon" slot="end" (click)="goToDetailReuest(req.vehicleRequestId)"></ion-icon>

        </ion-item>
    </ion-list>
    <div *ngIf="errorMessage!=undefined" text-center>
        <ion-card class="error-card">
          <p style="font-size: 20px;" text-wrap>
            {{errorMessage}}
          </p>
        </ion-card>
      </div>
    <ion-infinite-scroll
    *ngIf="page < totalPage"
    threshold="100px"
    (ionInfinite)="loadMoreData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>