<ion-content padding class="animated fadeIn login auth-page">
    <div id="info-img"></div>
    <!-- <div class="theme-bg"></div> -->
    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown center-content">
            <h4 no-margin>
                <ion-text color="light" class="fw700">
                    Welcome!
                </ion-text>
            </h4>
            <div class="logo"></div>
            <p class="sub-text">Thank you for choosing us!</p>
        </div>

        <ion-card color="light" class="ion-padding ion-no-margin">
            <ion-card-content class="ion-no-padding">
                <!-- Login form -->
                <form [formGroup]="onLoginForm" class="list-form">
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="phone-portrait" item-start></ion-icon>
                            Mobile Number
                        </ion-label>
                        <ion-input type="number" formControlName="mobileNum"></ion-input>
                    </ion-item>
                    <p ion-text class="text08" *ngIf="onLoginForm.get('mobileNum').touched && onLoginForm.get('mobileNum').hasError('required')">
                        <ion-text color="danger">
                            Required Field
                        </ion-text>
                    </p>

                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="lock" item-start></ion-icon>
                            Password
                        </ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <p ion-text color="danger" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
                        <ion-text color="danger">
                            Required Field
                        </ion-text>
                    </p>
                </form>

                <p text-right tappable (click)="forgotPass()" class="paz">
                    <ion-text color="light">
                        <strong>Forgot Pass?</strong>
                    </ion-text>
                </p>

                <div>
                    <ion-button icon-left size="medium" expand="full" shape="round" color="warning" (click)="goToHome()" [disabled]="!onLoginForm.valid" tappable>
                        <ion-icon name="log-in"></ion-icon>
                        Signin
                    </ion-button>
                </div>

                <!-- Other links -->
                <div text-center margin-top>
                    <span (click)="goToSignup()" class="paz" tappable>
                        <ion-text color="dark">
                        New here? <strong>Sign Up</strong>
                        </ion-text>
                    </span>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>