<ion-content padding class="animated fadeIn login auth-page">
    <div id="info-img"></div>
    <!-- <div class="theme-bg"></div> -->
    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center class="center-content">
            <div class="logo"></div>
            <p class="sub-text" [ngClass]="translate.currentLang?'font-'+translate.currentLang:''">
                {{'LOGIN_ITEMS.WELCOME_SUB_MESSAGE' | translate}}
            </p>
        </div>

        <ion-card color="light" class="ion-padding ion-no-margin">
            <ion-card-content class="ion-no-padding">
                <!-- Login form -->
                <form [formGroup]="onLoginForm" (submit)="goToHome()" class="list-form">
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating" [ngClass]="translate.currentLang?'font-'+translate.currentLang:''">
                            <ion-icon name="phone-portrait" item-start></ion-icon>
                            {{'PLACEHOLDER_MSG.MOBILE_NUMBER' | translate}}
                        </ion-label>
                        <ion-input type="text" formControlName="mobileNum" (input)="typeChange('mobileNum')"></ion-input>
                    </ion-item>
                    <ion-chip ion-text class="warning-msg" *ngIf=" (formSubmitted ||onLoginForm.get('mobileNum').touched) && onLoginForm.get('mobileNum').hasError('required')">
                        <ion-label color="danger">
                            {{'ERROR_MSG.ENTER_MOBILE_NUMBER' | translate}}
                        </ion-label>
                    </ion-chip>
                    <ion-chip ion-text class="warning-msg" *ngIf="(formSubmitted) && mobileNumErr">
                        <ion-label color="danger">
                            {{'ERROR_MSG.ACCOUNT_NOT_EXIST' | translate}}
                        </ion-label>
                    </ion-chip>
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="lock" item-start></ion-icon>
                            {{'PLACEHOLDER_MSG.PASSWORD' | translate}}
                        </ion-label>
                        <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="password" (input)="typeChange('password')"></ion-input>
                        <div class="show-password">
                            <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'" (click)="togglePasswordFieldType()">
                            </ion-icon>
                        </div>
                    </ion-item>
                    <ion-chip ion-text class="warning-msg" *ngIf="( formSubmitted || onLoginForm.get('password').touched) && onLoginForm.get('password').hasError('required')">
                        <ion-label color="danger">
                            {{'ERROR_MSG.PASSWORD_REQUIRED' | translate}}
                        </ion-label>
                    </ion-chip>
                    <ion-chip ion-text class="warning-msg" *ngIf="(formSubmitted) && passwordErr && !onLoginForm.get('password').hasError('required')">
                        <ion-label color="danger">
                            {{'ERROR_MSG.INVALID_PASSWORD' | translate}}
                        </ion-label>
                    </ion-chip>

                    <p text-right tappable (click)="forgotPass()" class="paz">
                        <ion-text color="dark">
                            <strong>Forgot Password?</strong>
                        </ion-text>
                    </p>

                    <div>
                        <ion-button type="submit" icon-left size="medium" expand="full" shape="round" color="warning" tappable>
                            <ion-icon name="log-in"></ion-icon>
                            Signin
                        </ion-button>
                    </div>
                </form>

                <!-- Other links -->
                <div text-center margin-top>
                    <span (click)="goToSignup()" class="paz" tappable>
                        <ion-text color="dark">
                        {{'LOGIN_ITEMS.NEW_USER' | translate}}? <strong>{{'LOGIN_ITEMS.SIGN_UP' | translate}}</strong>
                        </ion-text>
                    </span>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>