<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar color="primary" class="user-profile">

                    <ion-item margin-bottom lines="none">
                        <ion-avatar slot="start" class="user-avatar">
                            <img src="assets/img/user-default.png">
                        </ion-avatar>
                        <ion-label>
                            <ion-text color="light">
                                <h2><strong>Sunu Sundar</strong></h2>
                            </ion-text>
                            <ion-text color="medium">
                                <h3>
                                    Chennai
                                </h3>
                            </ion-text>
                            <ion-menu-toggle class="mto" auto-hide="false">
                                <a class="text08" tappable (click)="goToEditProgile()">
                                    <ion-text color="medium">
                                        <strong>{{'SIDE_MENU_ITEMS.EDIT_PROFILE' | translate}} |</strong>
                                        <ion-icon name="create"></ion-icon>
                                    </ion-text>
                                </a>
                                <!-- <ion-text color="secondary"> | </ion-text>
                                <a class="text08" tappable (click)="logout()">
                                    <ion-text color="medium">
                                        <ion-icon name="log-out"></ion-icon>
                                        <strong>logout</strong>
                                    </ion-text>
                                </a> -->
                            </ion-menu-toggle>
                        </ion-label>
                    </ion-item>

                </ion-toolbar>
            </ion-header>

            <ion-content class="bg-profile">

                <div *ngFor="let page of pages">
                    <ion-menu-toggle *ngIf="page.url">
                        <ion-item lines="none" [routerLink]="page.url" routerDirection="root" routerLinkActive="active" detail="false">
                            <span slot="start" class="{{page.icon}}" color="dark" class=""></span>
                            <ion-label>
                                {{page.title | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-item lines="none" class="lang-bg" button *ngIf="page.children?.length > 0" (click)="page.open = !page.open" [class.active-parent]="page.open" detail="false">
                        <ion-icon slot="end" name="ios-arrow-forward" *ngIf="!page.open"></ion-icon>
                        <ion-icon slot="end" name="ios-arrow-down" *ngIf="page.open"></ion-icon>
                        <span slot="start" class="icon-language"></span>
                        <ion-label class="language">
                            <span>{{page.title | translate}}</span>
                        </ion-label>
                    </ion-item>
                    <ion-list *ngIf="page.open">
                        <ion-menu-toggle>
                            <ion-list>
                                <ion-radio-group [value]="en" [(ngModel)]="lang" (ionChange)="switchLanguage()">
                                    <ion-item *ngFor="let sub of page.children" (click)="page.open = !page.open">
                                        <ion-label>{{sub.title}}</ion-label>
                                        <ion-radio slot="start" [value]="sub.value"></ion-radio>
                                    </ion-item>
                                </ion-radio-group>
                            </ion-list>
                        </ion-menu-toggle>
                    </ion-list>

                </div>




                <ion-list>
                    <!-- <ion-list-header color="medium">
                        <ion-label>Menu</ion-label>
                    </ion-list-header> -->

                    <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerLink]="[p.url]" color="light">
                            <ion-icon slot="start" [name]="p.icon" color="dark"></ion-icon>
                            <ion-label>
                                {{p.title | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle> -->
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>