:host {
    ion-content {
        --background: var(--ion-color-light);
    }
    ion-list {
        &.list-md {
            padding: 0;
        }
    }
    .active {
        color: #830c83
    }
    .active-parent {
        color: #830c83;
    }
    .lang-bg {
        border-top: 1px solid #ddd;
    }
    .side-menu-icon {
        font-size: 18px;
    }
    .side-menu-title {
        font-size: 14px;
    }
    .side-menu-list {
        ion-item {
            margin: 14px 0;
        }
    }
    .toggle-arrow {
        font-weight: 100;
        font-size: 20px;
        color: #c1c1c1;
        transition: .5s;
    }
}