:host {
    ion-content {
        --background: var(--ion-color-light);
    }
    ion-datetime {
        color: #dcbbf5;
    }
    .date-label {
        color: #dcbbf5
    }
    .view-text {
        font-size: 12px;
        color: #444;
        padding: 3px;
        position: relative;
        top: 10px;
    }
    .card-text {
        h5 {
            padding: 2px;
            font-size: 16px;
            .icon {
                color: #86888f;
                padding-right: 4px;
            }
        }
    }
    .agent-name {
        position: absolute;
        right: 0;
        padding: 7px 0;
        font-size: 14px;
        z-index: 99;
    }
    .agent-div {
        padding: 9px 0 9px;
    }
    .car-name {
        font-size: 18px;
        margin: 9px 0;
        color: #444;
    }
    .calendar-icon {
        font-size: 25px;
        color: #cfb7e2;
    }
    card-content-md {
        padding: 0px!important;
    }
    ion-card {
        padding: 5px;
        margin-bottom: 5px;
    }
    // .car-profile {
    //     .car-avatar {
    //         width: 100%;
    //         margin: 0 auto;
    //         position: absolute;
    //         height: auto;
    //         padding: 25px;
    //         img {
    //             width: 100%;
    //         }
    //     }
    //     .item-inner {
    //         border-width: 0;
    //     }
    //     ion-icon {
    //         font-size: 14px;
    //     }
    //     .mobnum-text {
    //         margin-top: 25px;
    //     }
    // }
    ion-button {
        text-transform: none!important;
        --box-shadow: none;
    }
    ion-item {
        border-bottom: 0px!important;
    }
    rating {
        ion-icon {
            color: gray;
            &.filled {
                color: #ffb400;
            }
        }
        position: absolute;
        left: 0;
    }
    ion-title {
        padding: 10px!important;
    }
    .image-holder {
        width: 100%;
        background: #dad5de;
        padding: 6px;
    }
    .image-inner {
        max-width: 60%;
        overflow: hidden;
        margin: 0 auto;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        // transform: scale(1.8);
    }
    .cover {
        object-fit: cover;
    }
    .date-filter {
        box-shadow: 0px 1px 1px 0 #dad8d8;
        background: #efeeee;
        width: 95%;
        border-radius: 9px;
        margin: 10px auto;
    }
}