<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'HOME_ITEMS.AVAILABLE_VEHICLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar color="light" slot="fixed">
  <ion-item lines="none" class="date-filter">
    <ion-label>
      <ion-icon name="calendar" color="medium" class="dateicon"></ion-icon>
    </ion-label>
    <ion-input
      clearInput
      type="text"
      placeholder="Search by date (Default Today)"
      [(ngModel)]="today"
      readonly="readonly"
      (click)="openCalendar()"
    ></ion-input>
  </ion-item>
</ion-toolbar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="newData && newData.length > 0">
    <div class="car-profile" *ngFor="let car of showData">
      <ion-card>
        <div class="image-holder">
          <div class="image-inner">
            <img class="cover" [src]="generateThumbnail(car.displayImage)" />
          </div>
        </div>
        <ion-card-header>
          <ion-card-title>
            <ion-text class="ion-text-left car-name">
              {{car.brandName+' '+car.vehicleName}}
            </ion-text>
            <ion-text class="agent-name">
              {{car.agencyName}}
            </ion-text>
          </ion-card-title>
          <ion-card-subtitle>
            <span class="icon icon-location2"></span> {{car.region}} |
            <span class="icon icon-user"></span> {{car.vehicleType}} |
            <span class="icon icon-fuel-dispenser"></span> {{car.fuelType}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-text class="rating-star-box" (click)="openRating()">
                <ion-label>
                  <rating [rate]="givenStar" readonly="true"> </rating>
                </ion-label>
              </ion-text>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-end">
              <ion-text class="">+91 {{car.mobileNo}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-footer>
          <ion-row>
            <ion-col center class="ion-text-center">
              <ion-text
                class="view-text ion-text-end"
                (click)="viewVehicle(car.agencyVehicleId)"
              >
                <ion-icon name="eye"></ion-icon> {{'COMMON.VIEW_DETAILS' |
                translate}}
              </ion-text>
            </ion-col>
            <ion-col center class="ion-text-center">
              <a href="tel:{{car.mobileNo}}">
                <ion-button size="small" color="success">
                  <span class="icon-phone"></span>
                </ion-button>
              </a>
              <ion-button
                size="small"
                color="success"
                (click)="openWhatsApp(car.mobileNo)"
              >
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
    </div>
  </div>
  <div *ngIf="errorMessage!=undefined" text-center>
    <ion-card class="error-card">
      <p style="font-size: 20px;" text-wrap>
        {{errorMessage}}
      </p>
    </ion-card>
  </div>
  <ion-infinite-scroll
    *ngIf="page < totalPage"
    threshold="100px"
    (ionInfinite)="loadMoreData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
