:host {
    background: url('/assets/svg/bg-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 54%;
    ion-content {
        --background: transparent;
        // transform: translate3d(0, 200px, 0);
    }


.paz {
    position: relative;
    z-index: 10;
}

p.sub-text {
    color: #b1b1a9;
    font-size: 90%;
    padding: 5px;
}

// #info-img {
//     width: 100%;
//     height: 100%;
//     bottom: 0;
//     right: 0;
//     position: fixed;
//     left: 0;
//     margin: 0 auto;
//     background: url('/assets/svg/bg-2.svg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: 32% 54%;
// }
.signup-msg {
    color: #662d91;
}
.language_btn {
    margin: 20px 0;
    text-align: center;
    ion-select {
        color: #444;
        border: 1px solid #662d91;
        margin-top: 5px;
    }
}
.otp-form {
    margin: 20px 0;
}
.otp-time-text {
    color: #50048a;
    font-weight: 600;
}

.resend-btn {
    font-size: 16px;
    font-weight: bold;
    color: #662d91;
}

.warning-msg {
    // background: #f9a652;
    border-radius: 2px;
    margin: 2px 0;
    width: 100%;
    ion-icon {
        font-size: 16px;
        margin: 0 0 5px;
    }
}

}