<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown center-content">
            <div class="logo"></div>
        </div>
        <p class="sub-text ion-text-center">OTP has been sent to your registered mobile number Please enter the OTP in the field below!</p>
        <!-- Login form -->
        <form [formGroup]="onLoginForm" class="list-form">
            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="lock" item-start></ion-icon>
                    One Time Password
                </ion-label>
                <ion-input color="light" type="number" formControlName="otp"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onLoginForm.get('otp').touched && onLoginForm.get('otp').hasError('required')">
                <ion-text color="warning">
                    Required Field
                </ion-text>
            </p>
        </form>
        <div class="ion-padding-top">
            <ion-button icon-left size="medium" expand="full" shape="round" color="warning" (click)="goToCreatePassword()" [disabled]="!onLoginForm.valid" tappable>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Verify
            </ion-button>

            <!-- <p text-center>
                <ion-text color="light">
                    Or Signin with:
                </ion-text>
            </p> -->

            <!-- <ion-grid class="btn-group">
                <ion-row>
                    <ion-col size="4">
                        <ion-button shape="round" expand="full" color="secondary">
                            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button shape="round" expand="full" color="secondary">
                            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button shape="round" expand="full" color="secondary">
                            <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid> -->

        </div>

        <!-- Other links -->
        <div text-center margin-top>
            <span (click)="goToLogin()" class="paz" tappable>
        <ion-text color="light">
          Already user? <strong>Sign in</strong>
        </ion-text>
      </span>
        </div>

    </div>
</ion-content>