<ion-content padding class="animated fadeIn login auth-page">
    <div id="info-img"></div>
    <!-- <div class="theme-bg"></div> -->
    <div class="auth-content">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown center-content">
            <div class="logo"></div>
        </div>
        <p class="sub-text ion-text-center">OTP has been sent to your registered mobile number Please enter the OTP in the field below!</p>
        <!-- Login form -->

        <ion-card color="light" class="ion-padding ion-no-margin">
            <ion-card-content class="ion-no-padding">
                <form [formGroup]="onLoginForm" class="list-form">
                    <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating">
                            <ion-icon name="lock" item-start></ion-icon>
                            One Time Password
                        </ion-label>
                        <ion-input type="number" formControlName="otp"></ion-input>
                    </ion-item>
                    <p ion-text class="text08" *ngIf="onLoginForm.get('otp').touched && onLoginForm.get('otp').hasError('required')">
                        <ion-text color="danger">
                            Required Field
                        </ion-text>
                    </p>
                </form>
                <div class="ion-padding-top">
                    <ion-button icon-left size="medium" expand="full" shape="round" color="warning" (click)="goToRegisterAgency()" [disabled]="!onLoginForm.valid" tappable>
                        <ion-icon name="checkmark-circle-outline"></ion-icon>
                        Verify
                    </ion-button>
                </div>
                <p class="ion-text-center otp-time-text" *ngIf="timeLeft">{{timeLeft}} Seconds Left....</p>
                <div class="ion-text-center" item-center>
                    <p>
                        If you didn't receive OTP <span class="resend-btn">Resend</span>
                    </p>
                </div>

                <!-- Other links -->
                <div text-center margin-top>
                    <span (click)="goToLogin()" class="paz" tappable>
                <ion-text>
                  Already user? <strong>Sign in</strong>
                </ion-text>
              </span>
                </div>
            </ion-card-content>
        </ion-card>
        <!-- <h4 class="ion-text-center signup-msg">getRide works only with carefully selected licensed drivers!</h4> -->
    </div>
</ion-content>