<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-title>
            <span class="icon-front-car"></span> Select Region</ion-title>
    </ion-toolbar>
    <ion-toolbar color="light" class="brand-search">
        <ion-searchbar placeholder="Search your region" [(ngModel)]="keyword" (ionChange)="filterRegions($event)" debounce="500"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-list *ngIf="regions">
            <div *ngFor="let region of regions" (click)="regionSelected(region)">
                <label class="place-name">{{region.placeName}}</label>
                <div>{{region.placeAddress}}</div>
            </div>
        </ion-list>
    </div>

    <ion-footer no-shadow>
        <ion-toolbar position="bottom">
            <ion-row>
                <ion-col text-center>
                    <ion-button color="medium" shape="round" (click)="cancelModal()">Cancel</ion-button>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-footer>
</ion-content>